.wrapper {
  margin-left: 6rem;

  &--no-mL-forBtn {
    margin-left: 0;
    text-align: center;
  }
  
  &--no-mL-onCol {
    margin-left: 0;

    @mixin atLarge {
      margin-left: 6rem;
    }
  }

  &--pL {
    padding-left: 0;

    @mixin atLarge {
      padding-left: 4rem;
    }
  }
  &--pR {
    padding-right: 0;
    
    @mixin atLarge {
      padding-right: 4rem;
    }
  }

  &--pL-adjustment {
    padding-left: 0;
    
    @mixin atSmall {
      padding-left: 1.3rem;
    }
  }

}