/**********************
        colors
**********************/
$lightColor: #fff;
$darkColor: #111;


$lightGray: #777;
$gray: #555;
$darkGray: #222;


$blue: #222029;


$lightGold: #deaa86;
$gold: #ca8e33;
$golder: #ae7621;


